
<html>
    <head>
        <title>XMPP Event Rules</title>
        <meta name="admin.active.section" content="admin_system_menu/advanced_menu_section/advanced_section"/>
    </head>
    <body>
        #set($rule = $action.eventRule)
        <form class="aui" action="EditReceiver!submit.jspa" method="post">
            <input type="hidden" id="ruleId" name="ruleId" value="$rule.ID"/>
            <div class="field-group">
                <label for="receiverType">Select receiver type</label>
                <select class="select" id="receiverType" name="receiverType">
                    #foreach( $type in $action.receiverTypes)
                    <option value="$type.key">$type.description</option>
                    #end        
                </select>
            </div>
            <div class="field-group">
                <label></label>
                <input type="text" id="receiver" name="receiver" class="text"/>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="aui-button submit" type="submit" value="Aktualisieren" accesskey="S"/>
                    <a class="cancel aui-button-link" href="ShowEditEventRule.jspa?eventRuleId=$rule.ID">Cancel</a>
                </div>
            </div>
        </form>
    </body>
</html>